<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="{{ path('<front>') }}" class="navigation__link">{{ "HOME" }}</a></li>
      <li class="navigation__item"><a href="{{ base_path }}hoe-sponseren" class="navigation__link">Hoe Sponseren?</a></li>
      <li class="navigation__item"><a href="{{ base_path }}spelende-leden" class="navigation__link">Spelende leden</a></li>
      <li class="navigation__item"><a href="{{ base_path }}programma-overzicht" class="navigation__link"> {{ "Programma" }}</a></li>
      <li class="navigation__item"><a href="{{ base_path }}photo-albums" class="navigation__link">Foto's</a></li>
      <li class="navigation__item"><a href="{{ base_path }}reaction-page" class="navigation__link">Reacties</a></li>
    </ul>
  </nav>
</div>