{# 
/**
 * Voorlopig hard gecodeerde tekst
 *
 */
#}

<section class="cards">
  <div class="row cards__wrapper">

    <div class="card card__one">
      <i class="card__icons">
        <img src="{{ base_path ~ directory }}/images/cinema.png" alt="theater icoon">
      </i>
      <h3 class="heading-tertiary">Programma</h3>

      {{ page.program }}

    </div>

    <div class="card card__two">
      <i class="card__icons">
        <img src="{{ base_path ~ directory }}/images/theater-masks.png" alt="Theater maskers icoon">
      </i>
      <h3 class="heading-tertiary">Spelende leden</h3>

      <article class="card__content">
        <p class="card__paragraph">Drepellendus hic aspernatur error adipisci explicabo cum perferendis animi ipsa
          mollitia. Vero!. </p>
        <a href="{{ base_path }}spelende-leden" class="btn btn--blue">Lees verder</a>
      </article>

    </div>

    <div class="card card__three">
      <i class="card__icons">
        <img src="{{ base_path ~ directory }}/images/piggy-bank.png" alt="Spaatv/arken icoon">
      </i>
      <h3 class="heading-tertiary">Hoe sponseren</h3>

      <article class="card__content">
        <p class="card__paragraph">Wenst u ons te sponseren, dan kan dat op volgende wijze:</p>
        <a href="{{ base_path }}hoe-sponseren" class="btn btn--red">Lees verder</a>
      </article>

    </div>

  </div>
</section>